body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  /* border: 1px solid yellow; /* checking border */ */
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 1px solid red; /* checking of flex-container boxes */ */
}


/********* header **********/

header {
  width: 100%;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 1;
  align-items: center;
  background-color: black;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  padding: 20px 10px;
}

a {
  color: seashell;
  text-decoration: underline;
  display: inline-block;
}

/************************* Main Section *************************/

.main {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}

h2, h4, h5 {
    color: seashell;
  margin: 0;
  padding: 10px;
}

/********* Mission Section ********/

#mission {
  width: 1200px;
  height: 700px;
  padding-top: 70px; /** for the fixed header plus border **/
  background-image: url(../images/img-mission-background.jpg)
}

.text {
  margin: auto; /** margin for the text within the mission pic */
  background-color: black;
  width: 100%;
}


/********** Featured Tea Selection Section ******/

#tea {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
  /* padding-bottom: 70px; */
  /* border: 1px solid green; /* checking of border of tea id */ */

}

.selections {
  padding: 5px;
}

.selections img {
  height: 200px;
  width: 300px;
  display: block;
  margin: 10px;
}

.selections span {
   font-weight: bold;
   display: block;
   padding: 5px;
}

/********** Location Section ********/

#location {
  margin-top: 70px;
  height: 500px;
  width: 1200px;
  padding-top: 70px;
  background-image: url(./resources/images/img-locations-background.jpg);
  /* border: 1px solid pink; /* checking of border of location id */ */
}

.address {
  display: flex;
  flex-direction: column;
  opacity: 1;
  background-color: black;
  height: 300px;
  width: 300px;
  margin: auto 20px;
}


/*********** Contact Section *********/

#contact {
  height: 200px;
}

/**************************** Footer ************************/

footer {
  padding: 20px;
  text-align: left;
}
